body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    background-color: white;
    width: 400px;

    padding: 40px;

    text-align: center;

    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #1e3a8a;
}

#quote {
    margin: 30px 0;

    font-size: 20px;
    line-height: 1.5;
}

#author {
    font-size: 16px;
    font-style: italic;
    color: #555;
}

button {
    padding: 12px 25px;

    background-color: #1e3a8a;
    color: white;

    border: none;
    border-radius: 6px;

    font-size: 16px;

    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}