body{
    margin:0;
    padding:40px;
    font-family:Arial, sans-serif;
    background-color:#f5f7fa;
    text-align:center;
}

h1{
    color:#1e3a8a;
    margin-bottom:30px;
}

img{
    width:300px;
    border-radius:12px;
    transition:0.3s;
}

img:hover{
    transform:scale(1.1);
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

button{
    background-color:#1e3a8a;
    color:white;
    border:none;
    padding:12px 30px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background-color:#2563eb;
    transform:scale(1.05);
}